<div>
    <form class="form login-form">
  <div class="firstname">
    <label for="firstnameInput">first name:</label>
    <input type="text" class="form-control" id="firstname" placeholder="firstname">
  </div>
   <div class="lastname">
    <label for="lastnameInput">last name name:</label>
    <input type="text" class="form-control" id="lastname" placeholder="lastname">
  </div>
  <div class="password">
    <label for="passwordInput">Password:</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
  </div>
<button id="submit" type="submit">submit</button>

</form>


</div>